[submodule "Mad Games Tycoon 2/ScriptTrainer/UnityGameUI"]
	path = Mad Games Tycoon 2/ScriptTrainer/UnityGameUI
	url = https://github.com/3DMXM/UnityGameUI.git
[submodule "The Scroll OfTaiwu/ScriptTrainer/UnityGameUI"]
	path = The Scroll OfTaiwu/ScriptTrainer/UnityGameUI
	url = https://github.com/GlossMod/UnityGameUI.git
[submodule "MiChangSheng/ScriptTrainer/UnityGameUI"]
	path = MiChangSheng/ScriptTrainer/UnityGameUI
	url = https://github.com/GlossMod/UnityGameUI.git
[submodule "Warm Snow/ScriptTrainer/UnityGameUI"]
	path = Warm Snow/ScriptTrainer/UnityGameUI
	url = https://github.com/GlossMod/UnityGameUI.git
[submodule "Warm Snow/UnityGameUI"]
	path = Warm Snow/UnityGameUI
	url = https://github.com/GlossMod/UnityGameUI.git
[submodule "Dyson Sphere Program/ScriptTrainer/UnityGameUI"]
	path = Dyson Sphere Program/ScriptTrainer/UnityGameUI
	url = https://github.com/GlossMod/UnityGameUI.git
