[submodule "Mad Games Tycoon 2/uimgui"]
	path = Mad Games Tycoon 2/uimgui
	url = https://github.com/psydack/uimgui.git
[submodule "Mad Games Tycoon 2/ScriptTrainer/UnityGameUI"]
	path = Mad Games Tycoon 2/ScriptTrainer/UnityGameUI
	url = https://github.com/3DMXM/UnityGameUI.git
